@import './styles/base.css';
@import './styles/naive.scss';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */

a,
.green {
	text-decoration: none;
	color: #417010;
	transition: 0.4s;
}

@media (hover: hover) {
	a:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}

h1 {
	color: #417010;
	font-weight: bold;
	font-size: 5dvw;
}

.h-100d {
	height: 100dvh;
}

.h-100 {
	height: 100%;
}

.w-100d {
	width: 100dvw;
}

.w-100 {
	width: 100%;
}

.d-flex {
	display: flex;

	&.jc-center {
		justify-content: center;
	}

	&.ai-center {
		align-items: center;
	}

	&.ai-start {
		align-items: flex-start;
	}

	&.ai-end {
		align-items: flex-end;
	}

	&.fd-column {
		flex-direction: column;
	}

	&.fd-row {
		flex-direction: row;
	}

	&.fw-wrap {
		flex-wrap: wrap;
	}

	&.fw-nowrap {
		flex-wrap: nowrap;
	}

	&.fw-wrap-reverse {
		flex-wrap: wrap-reverse;
	}

	&.fw-nowrap-reverse {
		flex-wrap: nowrap-reverse;
	}

	&.jc-start {
		justify-content: flex-start;
	}

	&.jc-end {
		justify-content: flex-end;
	}

	&.jc-between {
		justify-content: space-between;
	}

	&.jc-around {
		justify-content: space-around;
	}
}

@for $i from 1 through 100 {
	@if $i > 20 {
		$i: $i + 9;
	}

	.p-#{$i} {
		padding: #{$i}px;
	}

	.m-#{$i} {
		margin: #{$i}px;
	}

	.pt-#{$i} {
		padding-top: #{$i}px;
	}

	.pb-#{$i} {
		padding-bottom: #{$i}px;
	}

	.pl-#{$i} {
		padding-left: #{$i}px;
	}

	.pr-#{$i} {
		padding-right: #{$i}px;
	}

	.mt-#{$i} {
		margin-top: #{$i}px;
	}

	.mb-#{$i} {
		margin-bottom: #{$i}px;
	}

	.ml-#{$i} {
		margin-left: #{$i}px;
	}

	.mr-#{$i} {
		margin-right: #{$i}px;
	}

	.ph-#{$i} {
		padding-left: #{$i}px;
		padding-right: #{$i}px;
	}

	.pv-#{$i} {
		padding-top: #{$i}px;
		padding-bottom: #{$i}px;
	}

	.mh-#{$i} {
		margin-left: #{$i}px;
		margin-right: #{$i}px;
	}

	.mv-#{$i} {
		margin-top: #{$i}px;
		margin-bottom: #{$i}px;
	}
}

// * {
// 	scrollbar-width: auto;
// 	scrollbar-color: #3e9772 #ffffff;
// }

// ::-webkit-scrollbar {
// 	background: transparent;
// 	width: 0.4rem;
// 	height: 0.5rem;
// }

// ::-webkit-scrollbar-thumb {
// 	border: 40px solid #d3d3d3;
// 	border-radius: 10px;
// 	// background-clip: padding-box;
// 	// background-color:
// 	opacity: 0;
// }
// ::-webkit-scrollbar-thumb:hover {
// 	border: 40px solid #b3b3b3;
// }
